/Operator_Count.class
/Operator_ElementSelection.class
/Operator_Filter.class
/Operator_First.class
/Operator_ForEach.class
/Operator_Intersection.class
/Operator_Last.class
/Operator_List.class
/Operator_MapSelection.class
/Operator_MaxPlaces.class
/Operator_MinPlaces.class
/Operator_MultiColumnRecordable.class
/Operator_Permutation.class
/Operator_Remove.class
/Operator_RemoveAll.class
/Operator_Selection.class
/Operator_Size.class
/Operator_Sort.class
/Operator_Subtract.class
/Operator_Tail.class
/Operator_TimeSeries.class
/Operator_Union.class
